/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/global.css ***!
  \**********************************************************************/
.asterisk {
	font-size: 0.5rem;
	vertical-align: super;
}

.pe-cursor {
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

/* readonly=true, then opacity to 0.9 */
input[readonly] {
	background-color: var(--bs-secondary-bg) !important;
	border-color: var(--bs-border-color) !important;
	opacity: 1;
	cursor: not-allowed;
	box-shadow: none !important;
}

@media screen and (max-width: 768px) {
	#mainDiv {
		flex-direction: column;
	}
	#mainDiv a {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	#mainDiv {
		justify-content: center;
		gap: 5vh !important;
	}

	#mainDiv a {
		flex: 1 0 20%;
		height: 20vh;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 4vh !important;
	}
}

.flashingSuccessBorder {
	animation: flashingBorder 1s;
}

@keyframes flashingBorder {
	0% {
		border-color: #86b7fe;
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	}
	50% {
		border-color: greenyellow;
		box-shadow: 0 0 0 0.25rem rgba(13, 253, 17, 0.5);
	}
	100% {
		border-color: #86b7fe;
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	}
}

/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/products.css ***!
  \************************************************************************/
.bgDangerHover:hover {
	background-color: #dc3545 !important;
}

.bgDangerHover {
	transition: 0.2s;
}

.uploadImgContainer {
	position: relative;
	width: 25%;
}

.uploadImgContainer button {
	position: absolute;
	top: 2%;
	right: 2%;
}

#barcodeVideo {
	text-align: center;
}

#barcodeVideo video {
	width: 40%;
}

#barcodeVideo .drawingBuffer {
	display: none;
}

.table tbody .img-thumbnail {
	max-width: 300px;
}

@media screen and (max-width: 768px) {
	#barcodeVideo video {
		width: 100%;
	}
}

/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/categories.css ***!
  \**************************************************************************/
/* .list-group > div:nth-of-type(even)::before { */
.depth::before {
	/* Lighten every second element so its easier to track hierarchy */
	opacity: 0.1;
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	left: 0px;
	top: 0px;
	border: inherit;
	border-radius: inherit;
}

.depth-1::before {
	background-color: #fff;
}

.depth-2::before {
	background-color: #a0a0a0;
}

#categories .list-group-item a,
#categories .list-group-item button {
	position: relative;
	z-index: 5;
}

