/* .list-group > div:nth-of-type(even)::before { */
.depth::before {
	/* Lighten every second element so its easier to track hierarchy */
	opacity: 0.1;
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	left: 0px;
	top: 0px;
	border: inherit;
	border-radius: inherit;
}

.depth-1::before {
	background-color: #fff;
}

.depth-2::before {
	background-color: #a0a0a0;
}

#categories .list-group-item a,
#categories .list-group-item button {
	position: relative;
	z-index: 5;
}
