.asterisk {
	font-size: 0.5rem;
	vertical-align: super;
}

.pe-cursor {
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

/* readonly=true, then opacity to 0.9 */
input[readonly] {
	background-color: var(--bs-secondary-bg) !important;
	border-color: var(--bs-border-color) !important;
	opacity: 1;
	cursor: not-allowed;
	box-shadow: none !important;
}

@media screen and (max-width: 768px) {
	/* MOBILE */
	#mainDiv {
		flex-direction: column;
	}
	#mainDiv a {
		width: 100%;
	}

	/* Nav links */

	#navbar .navbar-nav {
		gap: 1rem !important;
		font-size: 1.2rem;
	}

	#navbar .navbar-nav li.nav-item {
		padding-top: 0.5rem;
		border-top: 1px solid var(--bs-border-color);
	}

	/* Dropdowns */

	#navbar .navbar-nav .dropdown-menu.show {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	#navbar .navbar-nav ul li:first-of-type .dropdown-item {
		border-top: none;
	}

	#navbar .navbar-nav .dropdown-item {
		font-size: 1.2rem;
		border-top: 1px solid var(--bs-border-color);
		padding-top: 0.5rem;
	}
}

@media screen and (min-width: 768px) {
	/* DESKTOP */
	#mainDiv {
		justify-content: center;
		gap: 5vh !important;
	}

	#mainDiv a {
		flex: 1 0 20%;
		height: 20vh;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 4vh !important;
	}

	.border-md-none {
		border-top: none !important;
		border-right: none !important;
		border-left: none !important;
		border-bottom: none !important;
		border: none !important;
	}
}

.flashingSuccessBorder {
	animation: flashingBorder 1s;
}

@keyframes flashingBorder {
	0% {
		border-color: #86b7fe;
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	}
	50% {
		border-color: greenyellow;
		box-shadow: 0 0 0 0.25rem rgba(13, 253, 17, 0.5);
	}
	100% {
		border-color: #86b7fe;
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	}
}

/* Fix border radius for buttons in input-groups */
.input-group button.btn {
	border-top-right-radius: var(--bs-border-radius) !important;
	border-bottom-right-radius: var(--bs-border-radius) !important;
}

/* Fix for border color not being shown because we added border-primary to input (to mark as required)  */
.form-control.is-invalid,
.was-validated .form-control:invalid {
	border-color: var(--bs-form-invalid-border-color) !important;
}

.form-select.is-valid,
.was-validated .form-select:valid {
	border-color: var(--bs-form-valid-border-color) !important;
}
