@media screen and (max-width: 768px) {
	table#orders th {
		min-width: 25vw !important;
	}
}

#printContainer *,
.printTable,
.printTable * {
	color: black !important;
	border-color: black !important;
}

#printContainer table#printProductWholesaleTable thead,
.printTable thead {
	font-size: 0.7rem !important;
}

#printContainer table#printProductWholesaleTable tbody,
.printTable tbody {
	font-size: 0.8rem !important;
}

#printContainer table#customerInfoTable tr td:nth-child(1),
#printContainer table#companyInfoTable tr td:nth-child(1) {
	padding-left: 0.5rem;
	width: 30%;
}

/* screen less than 1024 */
@media screen and (max-width: 1024px) {
	#printContainer table#customerInfoTable tr td:nth-child(1),
	#printContainer table#companyInfoTable tr td:nth-child(1) {
		width: auto;
	}
}
