.sizeElement {
	width: calc(100% / 4 - 1rem);
}

.bgDangerHover:hover {
	background-color: #dc3545 !important;
}

.bgDangerHover {
	transition: 0.2s;
}

.uploadImgContainer {
	position: relative;
	width: 25%;
}

.uploadImgContainer button {
	position: absolute;
	top: 2%;
	right: 2%;
}

#barcodeVideo {
	text-align: center;
}

#barcodeVideo video {
	width: 40%;
}

#barcodeVideo .drawingBuffer {
	display: none;
}

.table tbody .img-thumbnail {
	max-width: 300px;
}

@media screen and (max-width: 768px) {
	#barcodeVideo video {
		width: 100%;
	}

	.sizeElement {
		width: calc(100% / 2 - 0.5rem);
	}
}
