name: Deploy to Hostinger VM

on:
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Set up SSH Key
              run: |
                  mkdir -p ~/.ssh
                  echo "-----BEGIN OPENSSH PRIVATE KEY-----                                                                                  b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
                  QyNTUxOQAAACDQ3ZhC0PJa1ZPO+dhebPHi7GBD2xruq4C6BeQr08QVMQAAAKDqLtQt6i7U
                  LQAAAAtzc2gtZWQyNTUxOQAAACDQ3ZhC0PJa1ZPO+dhebPHi7GBD2xruq4C6BeQr08QVMQ
                  AAAEAqArN9p5MGETKqIpT0M+46rz904KqB/rWUHXXiof2Z49DdmELQ8lrVk8752F5s8eLs
                  YEPbGu6rgLoF5CvTxBUxAAAAGW5ld2hhcHB5cmFiYml0M0BnbWFpbC5jb20BAgME
                  -----END OPENSSH PRIVATE KEY-----" > ~/.ssh/id_rsa

                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan local.emo-sklad.bg >> ~/.ssh/known_hosts

            - name: Execute Commands on Hostinger VM
              run: |
                  ssh -o StrictHostKeyChecking=no root@local.emo-sklad.bg << 'EOF'

                  # Navigate to your app directory
                  cd /var/www/html/rabb.it

                  eval "$(ssh-agent -s)"
                  ssh-add ~/.ssh/github-actions
                  git remote set-url origin git@github.com:NewHappyRabbit/rabb.it.git

                  # Run commands (e.g., git pull, build, restart services, etc.)
                  git checkout .
                  git clean -df
                  git pull origin live
                  npm install
                  npm run web-prod

                  # Restart services if needed (e.g., PM2, systemctl, etc.)
                  pm2 reload all
                  exit
                  EOF
