name: Deploy to Hostinger VM

on:
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Set up SSH Key
              run: |
                  mkdir -p ~/.ssh
                  echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa

                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan app.emo-sklad.bg >> ~/.ssh/known_hosts

            - name: Execute Commands on Hostinger VM
              run: |
                  ssh -o StrictHostKeyChecking=no root@app.emo-sklad.bg << 'EOF'

                  # Navigate to your app directory
                  cd /var/www/app.emo-sklad.bg/html/rabb.it

                  eval "$(ssh-agent -s)"
                  ssh-add ~/.ssh/github-actions
                  git remote set-url origin git@github.com:NewHappyRabbit/rabb.it.git

                  # Run commands (e.g., git pull, build, restart services, etc.)
                  git checkout .
                  git clean -df
                  git fetch --all
                  git reset --hard origin/live
                  git pull origin live
                  npm install
                  npm run web-prod

                  # Restart services if needed (e.g., PM2, systemctl, etc.)
                  pm2 reload all
                  exit
                  EOF
