name: Deploy to Hostinger VM

on:
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up SSH
              uses: webfactory/ssh-agent@v0.7.0
              with:
                  ssh-private-key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP3tlzezvt10ETqZidDjC8PiTm2zqboTsM8admTf4y6n newhappyrabbit3@gmail.com"

            - name: Execute Commands on Hostinger VM
              run: |
                  #ssh -o StrictHostKeyChecking=no root@local.emo-sklad.bg << 'EOF'
                  # Navigate to your app directory
                  #cd /var/www/html/rabb.it

                  # Run commands (e.g., git pull, build, restart services, etc.)
                  #git pull origin main
                  #npm install
                  #npm run build

                  # Restart services if needed (e.g., PM2, systemctl, etc.)
                  #pm2 restart all
                  touch /var/www/html/test.txt
                  EOF
