name: Deploy to Hostinger VM

on:
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Set up SSH Key
              run: |
                  mkdir -p ~/.ssh
                  echo "-----BEGIN OPENSSH PRIVATE KEY-----
                    b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn
                    NhAAAAAwEAAQAAAgEA1coH3FrU+CFNSMZd/EjZLXROM4aa1lohUeRb/BI11MjeTK7RZfpX
                    bKpK/O9dQStwThJvbcLwZtdj4Dm7mlSYAIV2AuZn0iNQNXrtZPLB7qXWCSaGHIVVqZ4NVV
                    FeadjigJdvQB+T9Hk7xljKhrGK6Ptfx6Cfr8lmR9ri9GF/4eId/wa5XHGIKJ3zBiwYVJYG
                    VVKlu/x6gaHdslU40BFtrUQI4OcR60g/60UAa0pjFiw9W8q+2adrTUrmqlgkNUu/ZoUqaa
                    L0bKWRwlSGt8Zq+8Tg8vSCfMyUp0H9PUXroYutmRsy9tlsuZdXKTBKes43Yk+VqN3m2nra
                    0c1zwL90gKLfhWJAZGANgtoNR1/AvYOxuYBOiuxrgQLkhOHLzUb1XpRDUGZU/gN8yQ+3XN
                    lOiO/IJHMrUF+X4Tg9qpr6C+PCnsL7mmUu5Yr/c3szthy3wvt5o0ulZTL2GmzI8yTnzzOy
                    Rl+zWEhqPmcRUTbEz4rVhJIq7fWLb++2tQSxis2BK4s4flKDmjDPjMbxw75GIjqU8PGhrz
                    M44Q5IGE2Z2BzHyLX/C7GxxsETh9VSahOGEf7q7tVO2mRnPl+hWvcttwc4oGN+QL6Gsr95
                    7z18zIRXiTrK+x4VcWzK52NrOuxdYXU6s3ns1dYvFi8FNIYvELBIoc1ey4en2/eEhnAlaI
                    0AAAdQUHfRCFB30QgAAAAHc3NoLXJzYQAAAgEA1coH3FrU+CFNSMZd/EjZLXROM4aa1loh
                    UeRb/BI11MjeTK7RZfpXbKpK/O9dQStwThJvbcLwZtdj4Dm7mlSYAIV2AuZn0iNQNXrtZP
                    LB7qXWCSaGHIVVqZ4NVVFeadjigJdvQB+T9Hk7xljKhrGK6Ptfx6Cfr8lmR9ri9GF/4eId
                    /wa5XHGIKJ3zBiwYVJYGVVKlu/x6gaHdslU40BFtrUQI4OcR60g/60UAa0pjFiw9W8q+2a
                    drTUrmqlgkNUu/ZoUqaaL0bKWRwlSGt8Zq+8Tg8vSCfMyUp0H9PUXroYutmRsy9tlsuZdX
                    KTBKes43Yk+VqN3m2nra0c1zwL90gKLfhWJAZGANgtoNR1/AvYOxuYBOiuxrgQLkhOHLzU
                    b1XpRDUGZU/gN8yQ+3XNlOiO/IJHMrUF+X4Tg9qpr6C+PCnsL7mmUu5Yr/c3szthy3wvt5
                    o0ulZTL2GmzI8yTnzzOyRl+zWEhqPmcRUTbEz4rVhJIq7fWLb++2tQSxis2BK4s4flKDmj
                    DPjMbxw75GIjqU8PGhrzM44Q5IGE2Z2BzHyLX/C7GxxsETh9VSahOGEf7q7tVO2mRnPl+h
                    Wvcttwc4oGN+QL6Gsr957z18zIRXiTrK+x4VcWzK52NrOuxdYXU6s3ns1dYvFi8FNIYvEL
                    BIoc1ey4en2/eEhnAlaI0AAAADAQABAAACAA/uN4q8e/0nYh5npa48cW55KbCeOaB6Y9w5
                    037jjn5WH3aAWlsqfeQ7hk31ujG2fm5a4lHAAnDvYOJe+vNDlXYIe+Q4bgkTF5F8oP7yNf
                    BGDD5vT/QFHX5/qAexAgOKJUqmviP9lmVTuVgM2r6RsUOuI5N5DR0ouUXmch36u/BFjK2p
                    vxs73IUGTAssMv3ulfc6qt3osOpC+QWmYw7iFZWhKbY0kbnCDv1FjYPxLZQD5OiXoYQPfS
                    frymdsHPqZs9/8UU5A1czYw5VC/izojKVJJOgFv0l0ZylVefzcXnQRt/ReOfx59CeaNuT7
                    U7l171uUiZblPiQOnoqesB7vRUuDt5L1icfKxTv1thugDdHkPVLyOIQ5P9EjXe32JJEgTC
                    XMgfyAVimJhywNjz1GaYY7xo9ZcSYioOQTe+h57vGwBw7nZdQ56s0ApRhRSg02TGUWIsag
                    8sFcT8KqzsMoi+P56djdNH4UFiM5+H0aE/8ZWW4tyDBnax1GQtndiPBfzHVuZhYn3vedG7
                    g/8pLXvvLQmoa+IEKu/Zbl06sHsJ5xaEw10R7zKNkkb+rO8h6nLlcOdGW3L12ocyQC7RqX
                    NrTj0vgATrRYqtr2knmWlx/TY+UKX+XD+qA3KBWuJRGHB+MK4TiZlDVfXO9sLEoskQn6jO
                    AwVnsQD5/8nwC3kfBBAAABAQDmQERrfq6S1NxY9Hu7XxgWNdkNIla0fWf/b25tTgfyD3CU
                    p0U8YucvpBZB/LuOZGn9eaZ1gBtY7RRxCr+ta8nis04/WRlB5Nk9CNSbqVcbQHUGSVKSvE
                    gdU3/KKhVIv99ZUQbyE5D7B07TGtKhU/86KxL8cgBao5roAkjqFUTZCOeZveNBkyAhRIsf
                    gZeu8dy1sMNMCGdqlfmMbldSS2P92H9KvUvP+IbaFwfj1Utkqf8MpLG1abiC1RdI0rJOzi
                    t3iBtTw+pgRHSaRNjwHwMX6AkxHXE5eN75sOEtKQgaRILKcc6jbnqsWq0+I9knzyGtlI9n
                    a/Y+W35nXiAyiJi1AAABAQDvZ8B1v5eIJoldNiLHtRGrsxVu0SJL4YNPDvxWsRieatVN3w
                    CBWgqtu8xQ/kHznWgU/9Z0uVt98avmlWwFkZMt32/+zrjJdPwAJAocTtJqtZBIQIw/fhZz
                    i9W+HAyER7dXusfysBeLHjIb8xslslubFSAxmtHysKEB2QW9FIuWLy4yFP35FF66AF/D5w
                    WHyj+lRExAHkKKnhWWG/z2H7r8g39bSSI/mxW58bAhtez5GQsVyXOvB+NHN8aV4H2JK67s
                    Ph+QqF5e9a11iMX51V64QlQolWGsoqo7sEdPc7ut++Abga/eiAYuf+PHVR0mZcbyG+DIuZ
                    NKL7hJeMDCNa5tAAABAQDkm7iZUvC5ISZ31KKh+3nUoOAdXYNf0pnAW/ojBSV580uehgTB
                    9EX+WzuqL0w+emSKiTwyXl+ErbGd4PduCzUdVAX8GMVrPChR5WZczdmjZ1MzI3PLoPzcqP
                    BwAmAz5plMSfbjNE3yDELOWACDw9ZxyASXlgysGKfNmA/6HlNJn8VenaPyGv3q2lKkRfbI
                    9dcgXwPN2NQ0Nv2CkxHpzbgOYOBSb9YxOkvJgfh44Hldk/1oLTA1cu3K66mwlcYPMC7r/X
                    lkNyuc3N4bjWUS3V/7v6IKiGr6YPiIIlBH0yI+LPmkxr/jlo/GmMxITXE0r0jfjHaEIBnH
                    9PPHrjwRw86hAAAAGW5ld2hhcHB5cmFiYml0M0BnbWFpbC5jb20B
                    -----END OPENSSH PRIVATE KEY-----" > ~/.ssh/id_rsa

                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan local.emo-sklad.bg >> ~/.ssh/known_hosts

            - name: Execute Commands on Hostinger VM
              run: |
                  ssh -o StrictHostKeyChecking=no root@local.emo-sklad.bg << 'EOF'

                  # Navigate to your app directory
                  cd /var/www/html/rabb.it

                  eval "$(ssh-agent -s)"
                  ssh-add ~/.ssh/id_rsa
                  git remote set-url origin git@github.com:NewHappyRabbit/rabb.it.git

                  # Run commands (e.g., git pull, build, restart services, etc.)
                  git checkout .
                  git clean -df
                  git pull origin live
                  npm install
                  npm run web-prod

                  # Restart services if needed (e.g., PM2, systemctl, etc.)
                  pm2 reload all
                  exit
                  EOF
